html {
    font-size: 14px;
    color: #444444;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 1rem;
    color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #222222;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.50rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #3b82f6;
}

a:hover,
a:focus {
    color: #1d4ed8;
}

#navbar {
    padding: 6px;
    margin: 0;
}

#logo {
    display: block;
}

#logo-with-text {
    display: none;
}

#banner {
    object-fit: cover;
    height: 150px;
    width: 100%;
}

#about {
    display: flex;
    flex-direction:column;
    padding: 8px;
    margin: 0 auto;
    max-width: 500px;
}

h1 {
    text-align: center;
    margin: 12px 0;

}

#description {
    font-size:1.25rem;
    
}

#team{
    width:100%;
}

#team-image {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

#jobs{
    display:block;
}

#jobs-table{
    display:none;
}


h2 {
    text-align: center;
    margin-top:0;
}

@media screen and (min-width:576px) {
    html {
        font-size: 16px;
    }

    #logo-with-text {
        display: block;
    }

    #logo {
        display: none;
    }

    #banner {
        height: 200px;
        object-fit: cover;

    }

    h1 {
        margin: 16px 0;

    }

    #jobs {
    margin: 0 auto;
    padding: 0 8px;
    max-width: 500px;
}



}

/*this layout for the small devices */

@media screen and (min-widt:768px) {
    #banner {
        height: 250px;
    }
    h1{
        margin:20px 0;
    }
    #about{
        max-width:800px;
        flex-direction:row;
    }
    #description {
    width: 50%;
    padding-right:8px;
    }
    #team{
        width:50%;
    }
    #jobs{
        min-width:800px;
    }
    #jobs-list{
        display:none;
    }
   #jobs-table{
    display:block;
   } 

}

/*this is for medium tablets*/

@media screen and (min-width:992px) {
    html {
        font-size: 20px;
    }

    #banner {
        height: 300px;
    }
}

/*this is for large devices*/

@media screen and (min-width:1200px) {
    html {
        font-size: 23px;
    }
}

/*this is for desktop devices*/

/* 









#logo {
    width: 58px;
    height: 58px;
}








.footer {
    background-color: #f3f4f6;
    text-align: center;

}

#footer-links li {
    margin-top: 32px;
    display: inline;
    margin: 0 16px;
}


#copy-right {
    color: #6a7282;
    font-size: 0.875rem;
}

#jobs-table {
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-collapse: collapse;
}

#jobs-table tr:nth-child(odd) {
    background-color: #eff6ff;
}

.jobs-header-row th {
    border: 1px solid grey;
    padding: 8px;
    background-color: aliceblue;
    text-align: center;
    color: #222222;
}

.jobs-data-row td {
    border-right: 1px solid grey;
    padding: 8px;

}

#application {
    margin: 0 auto;
    padding: 0 8px;
    max-width: 800px;
}

#application label {
    font-weight: 600;

}

#application input,
select,
textarea {
    padding: 8px;
    margin-top: 4px;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    border-radius: 7px;
    border-color: gray;
}

.form-group textarea {
    font-family: 'Roboto', sans-serif;
    width: 80%;
}

.form-group input[type="checkbox"] {
    height: 18px;
    width: 18px;
}

.form-group input[type="submit"] {
    background-color: oklch(70.7% 0.165 254.624);
    color: white;
    font-weight: 500;
    cursor: pointer;
}
    */